@import "../../mixins.module";
@import "../../variables.module";

.About{
    width: 100%;
    padding: 1.5rem 0;

    //@include flex(column, center, flex-start);

    > .personal-information{

        @include flex();
        gap: 1.5rem;

        padding: 1.5rem 0;
    }
}