@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&family=Roboto:wght@400;500;700;900&family=Tilt+Neon&display=swap');
//fonts
$first-font-roboto: 'Roboto', sans-serif;
$second-font-monserrat: 'Montserrat', sans-serif;
$third-font-tilt: 'Tilt Neon', cursive;


//color themes variables
$theme-primary-color: #30391f;
$theme-primary-light-color: lighten($theme-primary-color, 0.75);
$theme-secondary-color: #668A4C;
$theme-third-color: darken(#A7CCCB, 65);
$theme-dark-color: #464646;
$theme-darkest-color: darken($theme-dark-color, 10);
$theme-lightest-color: #FFFF;

$theme-border: 2px solid $theme-darkest-color;
$theme-border-radius: 0.40rem;

//break points on screen sizes
// Breakpoints
$screen-sm: 36em;       //576px Large smartphones
$screen-md: 48em;       //768px Small tablets
$screen-lg: 62em;       //992px Tablets
$screen-xl: 75em;       //1200px Desktops
$screen-xxl: 87.5em;    //1400px Large desktops